<!doctype html>
<html lang="en" ng-app="AngularBeer" ng-controller="BeerListCtrl">
<head>
  <meta charset="utf-8">
  <title ng-bind-template="Angular Beer Gallery: {{search}}">Angular Beer Gallery</title>
  <link rel="stylesheet" href="lib/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="lib/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>

<div class="container" >


<div class="row">
  <div class="col-md-2">
    <input type="text" ng-model="search" placeholder="Search a beer"/>
    <select ng-model="orderProp">
      <option value="name">Alphabetical</option>
      <option value="alcohol">Alcohol content</option>
      <option value="-age">Oldest</option>
    </select>
  </div>
  <div class="col-md-10">
    Hello {{name}}<br /><span ng-show="search">Query: {{search}}</span>
    <ul>
      <li ng-repeat="beer in beers | filter:search | orderBy:orderProp" class="thumbnail">
        <a href="#/beers/{{beer.id}}" class="thumb"><img ng-src="{{beer.img}}" alt="beer img"</img></a>
        <a href="#/beers/{{beer.id}}">{{beer.name}}</a>
        <span>{{beer.description}}</p>


      </li>
    </ul>

    <p>Number of beers: {{beers.length}}</p>
  </div>
  <pre>{{beers|json}}</pre>
</div>
<!--
  <table>
    <tr><th ng-repeat="i in [0,1,2,3,4,5,6,7]">Row {{i+1}}</th></tr>
    <tr ng-repeat="i in [0,1,2,3,4,5,6,7]"><td ng-repeat="f in [0,1,2,3,4,5,6,7]">{{i+f+2}}</td></tr>
  </table>-->
</div>
</body>
</html>
